html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 1200% 1200%;
    animation: gradient 30s ease infinite;
	  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
  margin:0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#header{
	width:100%;
	background-color:ff0000;
	height:75px;
}

	

#article{
	width:70%;
	background-color:rgba(0, 0, 255, 0.1);
	height:800px;
	margin-left:15%;
	
	color:FFF;
}


#footer{
	width:50%;
	background-color:ffff00;
	width:100%;
	height:150px;
}
#nav{
	height:800px;
	width:15%;
	background-color:996633;
	float:left;
}
nav{
  color: #FFF;
  float: right;
  margin:30px 90px;
  position:absolute;
  top:0px;
  left:800px;
 
}
nav ul{
  list-style: none;
}
nav ul li {
  float: left;
  transition: .3s;
}
nav ul li a{
  text-decoration: none;
  color: #EFEEF5;
  transition: .5;
  font-size: 15px;
  margin-left:16px;
}
nav ul li:hover a{
  text-decoration: none;
  color: #591BC5;;
}
nav ul li:hover{
  height: 45px;
  padding-top: 30px;
  margin-top: -30px;
 background: #EFEEF5;
  text-decoration: none;
  transform: skew(15deg);
}
